.container {
    margin-top: 30px;
}

.add-cliente {
    margin-bottom: 30px;
}

.list-cliente {
    margin-bottom: 50px;
}

.btn-add-cliente {
    margin-right: 10px;
}
.btn-add-cliente2 {
    margin-right: 10px;
    background-color: aquamarine;
}